* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: skyblue;
  padding: 3rem;
}
section {
  position: relative;
}
p {
  text-align: center;
  max-width: 50vw;
}
button {
  padding: 1rem 3rem;
  background-color: red;
  color: wheat;
  border-radius: 3rem;
  border: none;
  margin: 3rem 0;
  cursor: pointer;
  /* position: sticky; */
  top: 0;
}
li {
  padding: 1.5rem 0;
}
.header {
  background-color: rgba(0, 0, 0, 0.568);
  font-size: 3rem;
  color: white;
  padding: 0.6rem 2rem;
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  text-align: right;
  right: 0;
  display: inline-block;
  min-width: 20vw;
}
